.intro {
  margin-top: 92px;
  margin-left: 148px;
  width: 54%;
  min-height: 429px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .intro {
    width: 67%;
    margin: 92px 0 0 48px;
  }
}

@media screen and (min-width: 768px) {
  .intro {
    width: 720px;
    margin: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 2560px) and (min-width: 1440px) {
  .intro {
    width: 77%;
    margin: 92px auto 0 auto;
  }
}
