.place__website {
  display: block;
  margin: 102px 0 0px 40px;
  padding: 0;
  width: 456px;
  height: 46px;
}

@media screen and (max-width: 768px) {
  .place__website {
    margin: 0px 0 0px 28px;
    padding: 0;
    width: 352px;
    height: 46px;
  }
}
